html, body {
    height: 100%;
}

body {
    /* background-color: #e56060; */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.text-center {
    text-align: center;
    color: rgb(77, 202, 233) !important;
}

.footer-text{
    align-items: center;
}