<header class="p-3 bg-dark text-white">
        <div class="row">
            <div class="col">
                <a class="text-light text-decoration-none" href="{% url 'myapp:Index' %}"><h3>POST</h3></a>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center gap-3">
                    <a class="text-light text-decoration-none" href="{% url 'myapp:Index' %}">Home</a>
                    <a class="text-light text-decoration-none" href="{% url 'myapp:About' %}">About</a>
                    <a class="text-light text-decoration-none" href="{% url 'myapp:Contact' %}">Contact</a>
                </div>
            </div>
        </div>
    </header>